* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
:root {
  --white: #ffffff;
  --grayColor: #8f8f8f;
  --text-prizrak: #414141;
  --grayColor-dark: #292929;
  --inputfocus: #636363;
  --red: #db3138;
  --btnBlue: #0084ff;
  --background: #060606;
  --BGselect: #212121;
  --BGselectLI: #303030;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--white);
}
hr {
  height: 1px;
  background: var(--grayColor-dark);
  border: none;
}
.none {
  display: none;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
input:hover, input:active, input:focus {
  outline: none; /* Убрать обводку */
}
/* burger */
.burger {
  margin: 16px;
  gap: 16px;
  display: none;
  justify-content: flex-start;
  align-items: center;
}
.burger img {
  width: 133px;
  height: 17px;
  z-index: 111;
}
/* Гамбургер иконка */
.menu-btn {
  width: 30px;
  height: 30px;
  z-index: 2;
  overflow: hidden;
  position: relative;
}
.menu-btn span {
  width: 40px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}
/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}
/* Меню, которое будет появляться */
.mobileHeader {
  height: 100%;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: 1;
}
.menu.active {
  transform: translateX(0);
}
.menu li {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 16px;
  margin-left: 0;
}
.menu hr {
  margin: 12px 0;
}
.menu img {
  width: 24px;
  height: 24px;
  margin: 16px;
}
.menu p {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.categoryForMenuBurger {
  display: flex;
  height: 85vh;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;

  margin-bottom: 24px;
}
/* burger */

/* main page burger */
.unBurgerBox {
  border-right: 1px double var(--grayColor-dark);
  max-width: 250px;
  background-color: var(--background);
  margin-top: 10px;
  border-radius: 1px;
}
.unBurgerBox .categoryForMenuBurger {
  height: 100vh;
  margin-top: 0;
}
.unBurgerBox li {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 16px;
}
.ulLastLiForBurger li {
  display: flex;
  border-radius: 32px;
  padding: 16px;
  margin: 10px 6px;
  border: 1px solid var(--grayColor-dark);
}
.unBurgerBox:hover ul li {
  cursor: pointer;
}
.unBurgerBox:hover ul li:hover {
  cursor: pointer;
  background-color: var(--grayColor-dark);
}
.unBurgerBox:hover ul .lableForLiForBurger:hover {
  cursor: auto;
  background-color: var(--background);
}
.activeLiMenuBurger {
  background-color: var(--grayColor-dark);
}

.unBurgerBox ul {
  margin-bottom: 30px;
}
.unBurgerBox ul li p {
  opacity: 1;
  margin-left: 16px;
  visibility: visible;
  width: auto;
  transition: opacity 0.5s;
  white-space: nowrap;
  display: block; /* Этот блок покажет текст */
}
.unBurgerBox:hover ul li {
  display: flex;
  justify-content: start;
  align-items: center;
}
.firstImgLable {
  display: none;
}
.secondImgLable {
  opacity: 1;
  visibility: visible;
  display: flex;
  position: absolute;
  left: -5px;
  top: 20px;
  width: 156px;
  height: 17px;
}
/* main page burger */

/* provider Box */
.mainBoxInThisContainer{
  margin-left: 32px;
  margin-top: 40px;

}
.providerBox .headerBoxH2andSpan{
  margin-bottom: 32px;
}
.mainBox {
  display: flex;
}

.headerBoxH2andSpan {
  display: flex;
  align-items: center;
  gap: 8px;
}
.headerBoxH2andSpan span {
  color: var(--text-prizrak);
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}
.multiselect {
  position: relative;
}
#multiselect-input {
  padding: 12px 16px;
  width: 688px;
  border-radius: 8px;
  border: 1px solid var(--grayColor-dark);
  background-color: var(--background);
  color: var(--white);
  transition: border 0.5s;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.regBoxThreeForProvider #multiselect-input{
  background-color: #111;
}
#multiselect-input:hover {
  border: 1px solid var(--inputfocus);

}
#multiselect-input:focus {
  border: 1px solid var(--btnBlue);
}
#multiselect-input::placeholder{
    color: var(--grayColor);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
#multiselect-input::content{
    border: 1px solid var(--btnBlue);
}
#multiselect-options {
  padding: 12px 16px;
  width: 688px;
  border-radius: 8px;
  border: 1px solid var(--grayColor-dark);
}

#multiselect-options li {
  list-style: none;
  padding: 5px;

}

#multiselect-options li input[type="checkbox"] {
  margin-right: 5px;
}

/*чекбокс */
.inputCheck p{
  color: var(--grayColor);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
}
.multiselect-options{
  background-color: var(--BGselect);
}
/* Скрываем стандартный чекбокс */
/* .multiselect-options input[type="checkbox"] {
  display: none;
} */
.suboptions{
  padding-left: 5px;
  margin: 16px 0;
}
.suboptions h6{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding: 12px 16px;
}
.suboptions img{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.liContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid var(--BGselectLI);
  transition: all 0.5s;
}
.suboptions li:hover{
  background-color: var(--BGselectLI);
  cursor: pointer;
  border-left: 1px solid var(--white);
}
/* Создаем стилизованный кастомный чекбокс */
.inputCheck input[type="checkbox"] {
  display: none;
}
/*чекбокс */

/* provider Box */

@media (max-width: 640px) {
  #multiselect-input{
    display: none;
  }
  .burger {
    display: flex;
  }
  .unBurgerBox {
    display: none;
  }
}
@media (min-width: 645px) {
  .unBurgerBox {
    display: block;
  }
}

@media (min-width: 640px) and (max-width: 960px) {
  #multiselect-input {
    width: calc(72vw - 180px);
  }
  #multiselect-options {
    width: calc(72vw - 180px);
  }
  .firstImgLable {
    display: block;
  }
  .unBurgerBox {
    max-width: 60px;
    border-right: 1px solid var(--grayColor-dark);
    background-color: var(--grayColor-dark);
    border-radius: 16px;
    margin: 24px 16px;
    transition: all 0.2s;
  }
  .unBurgerBox .categoryForMenuBurger {
    height: 95vh;
    margin-top: 0;
  }
  .unBurgerBox li {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 16px;
  }
  .lableForLiForBurger .firstImgLable {
    width: 36px;
    height: 17px;
  }
  .ulLastLiForBurger li {
    display: flex;
    border-radius: 32px;
    padding: 10px 9px;
    margin: 10px 8px;
    border: 1px solid var(--grayColor-dark);
    transition: all 0.5s;
  }

  /* Применение стилей при наведении на .unBurgerBox */
  .unBurgerBox:hover {
    max-width: 250px;
    background-color: var(--background);
    margin-top: 10px;
    padding: 0;
    padding: 0;
    border-radius: 1px;
  }
  .unBurgerBox:hover .categoryForMenuBurger {
    height: 100vh;
    margin-left: -20px;
    margin-top: 0;
  }

  .unBurgerBox:hover ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
  }
  /* .unBurgerBox li:active {
    transform: translateY(7px); /* Например, сдвиг вниз */
  /* } */
  */ .unBurgerBox:hover ul li:hover {
    cursor: pointer;
    background-color: var(--grayColor-dark);
  }
  .unBurgerBox:hover ul .lableForLiForBurger:hover {
    cursor: auto;
    background-color: var(--background);
  }
  .activeLiMenuBurger {
    background-color: var(--grayColor-dark);
  }

  .unBurgerBox ul {
    margin: 0;
    padding: 0;
  }
  .unBurgerBox ul li p {
    opacity: 0;
    margin-left: 16px;
    visibility: hidden;
    transition: opacity 0.5s;
    white-space: nowrap;
    display: block; /* Этот блок покажет текст */
    width: 0;
  }

  .unBurgerBox:hover ul li p {
    opacity: 1;
    visibility: visible;
    width: auto;
  }
  .unBurgerBox:hover ul li {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .unBurgerBox:hover .lastLiForBurger {
    padding: 16px;
    margin-bottom: 25px;
  }

  .unBurgerBox:hover .firstImgLable {
    display: none;
  }
  .firstImgLable {
    position: absolute;
    left: 27px;
    top: 40px;
    transition: all 0.5s;
  }
  .secondImgLable {
    position: absolute;
    left: -5px;
    top: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, all 1.5s; /* Объедините свойства transition */
  }

  .unBurgerBox:hover .secondImgLable {
    opacity: 1;
    visibility: visible;
    display: flex;
    position: absolute;
    left: -5px;
    top: 20px;
    width: 156px;
    height: 17px;
  }
}
